body {
    background-color: black;
    background-image: url('../public/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    color: white
}
nav {
    height: 40px;
    background: #FFFFFF;
    overflow: hidden;
    padding-top: 7px;
    vertical-align: middle;
    border-bottom: 1px solid #DDDDDD;
}
nav h1 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: bold;
    color: #333333;
    letter-spacing: 0.04em;
}
nav .column.social {
    text-align: right;
}
nav a {
    font-size: 1.5em;
    line-height: 1em;
}
nav a i {
    color: #BBBBBB;
    text-decoration: none;
}
nav a:hover i {
    color: #DDDDDD;
}
header .desc {
    padding-top: 2em;
    text-align: center;
    font-size: 1.4em;
}
main form .icon-container {
    position: relative;
}
main form i.fa.fa-link {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #AAAAAA;
}
main form input[type="text"] {
    width: 73%;
    float: left;
    padding-left: 40px;
    border: 1px solid #EAEAEA;
    border-bottom: 2px solid #EAEAEA;
    background-color: #FFFFFF;
}
main form input[type="text"]:focus {
    border: 1px solid #EAEAEA;
    background-color: #FFF;
}
main form input[type="submit"] {
    width: 25%;
    float: right;
    background-color: #ffce00;
    clear: right;
    border: none;
    padding: 0;
}
main form input[type="submit"]:hover {
    background-color: #1c1c1c;
}
main section#shortened {
    opacity: 0;
    color: #AAAAAA;
    transition: all 0.5s ease;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
}
main section#shortened em {
    font-weight: bold;
    color: white;
    font-style: normal;
}
main section#shortened a#link {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 0.8em;
    color: white;
}
.errorPage {
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.overlay,
.on-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay {
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.on-top {
    z-index: 11;
    text-align: center;
}
.on-top h1 {
    margin-top: 20%;
    color: #FFFFFF;
    text-transform: uppercase;
}
.on-top p {
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8);
}
a.back {
    margin-top: 1%;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    color: #FFFFFF;
    background: #03C9A9;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}
a.back:hover {
    background: #049372;
    cursor: pointer;
}
.row.desc {
    flex-direction: column;
}
.container.header {
    margin-top: 15%;
}